<ion-header class="ion-no-border">
</ion-header>
<ion-content class="back">
  <img class="icon" src="assets/icon/pollo.png">
  <ion-item class="ilbl" >
    <ion-label class="txt"><h1>Inicio de Sesión</h1></ion-label>
  </ion-item>
  <ion-item class="ip">    
      <ion-label position="floating">Usuario</ion-label>
      <ion-input></ion-input>
      <ion-icon slot="end" name="person"></ion-icon>
    </ion-item>
    <ion-item class="ip">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
      <ion-icon slot="end" name="lock-closed"></ion-icon>
    </ion-item>
    <ion-item class="ilbl">
      <ion-button routerLink="/venta" class="boton" fill="solid" size="large" shape="round">Aceptar</ion-button>
    </ion-item>    

</ion-content>
